[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dataset = "*"
pyinquirer = "*"
flake8 = "*"
websocket-client = "*"
enum34 = "*"
numpy = "*"
psutil = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-ldap = "*"
django-auth-ldap = "*"
django-nose = "*"
python-ntlm6 = "*"
python-jenkins = "*"
django-imagekit = "*"
django-jsonfield = "*"
schema = "*"
docopt = "*"
sh = "*"
hammock = "*"
tabulate = "*"
beautifulsoup4 = "*"
pytz = "*"
plumbum = "*"
progressbar = "*"
six = ">=1.9"
python-gnupg = "*"
psycopg2-binary = "*"
wrapt = "*"
simplejson = "*"
pillow = "*"
tzlocal = "*"
dojango = "*"
requests-mock = "*"
flexmock = "==0.10.3"
html2text = "*"
slackclient = "<2.0"
holidays = "*"
pyotp = "*"
qrcode = "*"
python-twitter = "*"
oauth2 = "*"
dohq-artifactory = "*"
boto3 = "*"
warrant-lite = "*"
pyodbc = "==4.0.28"
pyjavaproperties = "*"
lxml = "*"
pytest = "*"
attrs = "==19.1.0"
pytest-html = "*"
pytest-xdist = "*"
pytest-cov = "*"
coverage = "*"
uwsgi = "*"
python-json-logger = "*"
pandas = "*"
expurgator = "==0.1.3"
rhinoplasty = "*"
stashy = "*"
Django = "*"
xtea4 = "*"
mechanize = "*"
csv23 = "*"
PyGithub = ">=1.44.2"
awscli = "*"
git-review = "*"
django_saml2_auth = "*"
responses = "*"
gspread = "*"
oauth2client = "*"
mechanicalsoup = "*"
requests_ntlm = "*"
click = "*"
whitenoise = "*"
watchdog = {editable = true,git = "https://github.com/timgates42/watchdog.git"}
nose = {editable = true,git = "https://github.com/timgates42/nose.git"}
namedlist = {editable = true,git = "https://github.com/timgates42/namedlist.git"}
html5lib = {editable = true,git = "https://github.com/timgates42/html5lib-python.git"}
ratelimitingfilter = "*"
pytest-timeout = "*"
pytest-randomly = "*"
colander = "*"
pylint = "*"
flake8-isort = "*"
pyflakes = "*"
safety = "*"
bandit = "*"
gitpython = "*"
mypy = "*"
isort = "*"
spelling = "*"
twine = "*"
docker-compose = "*"
keyrings-alt = "*"

[requires]
python_version = "3.8"
