[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dataset = "*"
pyinquirer = "*"
flake8 = "*"
websocket-client = "*"
enum34 = "*"
numpy = "*"
psutil = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-ldap = "*"
django-auth-ldap = "*"
django-nose = "*"
python-ntlm6 = "*"
python-jenkins = "*"
django-imagekit = "*"
django-jsonfield = "*"
schema = "*"
docopt = "*"
sh = "*"
hammock = "*"
tabulate = "*"
beautifulsoup4 = "*"
pytz = "*"
plumbum = "*"
progressbar = "*"
six = ">=1.9"

[requires]
python_version = "3.8"
