[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dataset = "*"
pyinquirer = "*"
flake8 = "*"
websocket-client = "*"
enum34 = "*"
numpy = "*"
psutil = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-ldap = "*"
django-auth-ldap = "*"
django-nose = "*"
python-ntlm6 = "*"
python-jenkins = "*"
django-imagekit = "*"
django-jsonfield = "*"
schema = "*"
docopt = "*"
sh = "*"
hammock = "*"
tabulate = "*"
beautifulsoup4 = "*"
pytz = "*"
plumbum = "*"
progressbar = "*"
six = ">=1.9"
python-gnupg = "*"
psycopg2-binary = "*"
wrapt = "*"
simplejson = "*"
pillow = "*"
tzlocal = "*"
dojango = "*"
requests-mock = "*"
flexmock = "==0.10.3"
html2text = "*"
slackclient = "<2.0"
holidays = "*"
pyotp = "*"
qrcode = "*"
python-twitter = "*"
oauth2 = "*"
dohq-artifactory = "*"
boto3 = "*"
warrant-lite = "*"
pyodbc = "*"
pyjavaproperties = "*"
lxml = "*"
pytest = "*"
attrs = "==19.1.0"
pytest-html = "*"
pytest-xdist = "*"
pytest-cov = "*"
coverage = "*"
uwsgi = "*"
python-json-logger = "*"

[requires]
python_version = "3.8"
